<!-- <input type="text" [(ngModel)]="searchTerm" class="search" placeholder="Buscar País..">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Subregion</th>
      <th scope="col">Capital</th>
      <th scope="col">Bandera</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pais of paises | filter:searchTerm:'name'" (click)="onSelect(pais)">
      <td scope="row">{{ pais.name }}</td>
      <td scope="row">{{ pais.subregion }}</td>
      <td scope="row">{{ pais.capital }}</td>
      <td scope="row">
          <img [src]="pais.flag" width="70" alt="">
      </td>
    </tr>
  </tbody>
</table> -->

<input type="text" [(ngModel)]="searchTerm" class="search" placeholder="Buscar País..">
<div class="container-fluid">
  <table class="table table-bordered table-sm">
      <thead>
          <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Subregion</th>
              <th scope="col">Capital</th>
              <th scope="col">Bandera</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let pais of paises  | paginate: { itemsPerPage: 8, currentPage: p } | filter:searchTerm:'name'" >
              <td >{{ pais.name }}</td>
              <td >{{ pais.subregion }}</td>
              <td >{{ pais.capital }}</td>
              <td scope="row">
                <img [src]="pais.flag" width="70" alt="">
              </td>
              <td> <button type="button" class="btn btn-success" (click)="onSelect(pais)"><i class="fa fa-eye"></i></button> </td>
          </tr>
      </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event" previousLabel="Previo" nextLabel="Siguiente"></pagination-controls>
</div>
